@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,300;0,8..30,400;0,8..30,900;1,8..30,200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}

html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.row{
    margin: 0;
}
.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar li{
    margin-left: 2rem;
}
.navbar a{
    color: #fff;
    font-size: 1.8rem;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar-toggler{
    background-color: grey;
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color) ;
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main_header_left{
    height: 55rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 2rem;
}

.main_header_right p{
    font-size: 2rem;
}

.main_header_left span{
    color: var(--main-color);
}

.main_header_right span{
    color: var(--main-color);
}

.bt {
    border: none;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    box-shadow: 0 0.8rem 0.6rem -0.6rem #000;
    outline: none;
}

.main_header_left button:hover{
    cursor: pointer;
    box-shadow: 0 0.8rem 0.6rem -0.6rem var(--main-color);
}

.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    /* text-transform: capitalize; */
}
.main_header_right{
    height: 55rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.main_header_right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgb(0,0,0,0.3));
    height: 40rem;
    width: 28rem;
}

/* footer code */
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 6rem;
    font-size: 1.4rem;
}

.erroimg{
    height:40rem ;
    width:auto;
}

/* weather css  */

.temp_form{
    width: 60%;
    position: relative;
    margin: 10rem auto 6rem;
}

.temp_form input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b ;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem ;
}

::placeholder{
    color: #bfc1c8;
}

.temp_form input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    border-radius: 3rem;
    background: #009ad8;
    padding: 0 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color: #fff;
}

.tempInformation{
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    /* padding: 1rem; */
    font-family: "Robot0", sans-serif;
}

.top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    /* padding: 2rem 0; */
}

.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main_layer #city_name{
    padding: 1rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa{
    font-size: 5rem;
    font-weight: 900;
    /* color: #fff; */
}

.fa{
    color: #009ad8;
}

sup{
    font-size: 6rem;
    margin-top: -2rem;
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}

.top_layer p{
    color: #fff;
    font-weight: 300;
    padding: 2rem;
    font-size: 1.3rem;
}
/* responsive code  */

@media (max-width:768px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin: 5rem 0;
    }
    .temp_form{
        width: auto;
    }
    .tempInformation{
        width: auto;
    }
}